<div class="modal-header">
    <h3 class="modal-title" ng-if="job.Id == null">New Job</h3>
    <h3 class="modal-title" ng-if="job.Id != null">Edit Job</h3>
</div>
<form ng-submit="save()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Number</label>
                    <input type="text" class="form-control" ng-model="job.Number" ng-disabled="working.save" ui-number-mask ui-hide-group-sep />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="job.Name" ng-disabled="working.save" autofocus />
                </div>
                <div class="form-group">
                    <label>QuickBooks Customer:Job</label>
                    <input type="text" class="form-control" ng-model="job.QuickBooksCustomerJob" ng-disabled="working.save" />
                    <p class="help-block">Must match the Customer and Job in QuickBooks *exactly*</p>
                </div>
                <div class="form-group" ng-if="!job.Id">
                    <hr />
                    <label>Create Tasks from Template</label>
                    <select class="form-control" ng-model="job.Template" ng-options="template.Name for template in templates" ng-disabled="working.save"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="delete()" ng-disabled="working.save" ng-if="job.Id">Delete</button>
        <button class="btn btn-primary" type="submit" ng-disabled="working.save">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="working.save">Cancel</button>
    </div>
</form>
