<div class="modal-header">
    <h3 class="modal-title" ng-if="punch.Id == null">New Punch</h3>
    <h3 class="modal-title" ng-if="punch.Id != null">Edit Punch</h3>
</div>
<form name="punchForm" ng-submit="save()" autocomplete="off" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>User</label>
                    <select class="form-control" ng-model="punch.user" ng-options="user.Name for user in users" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users" autofocus></select>
                </div>
                <div class="form-group">
                    <label>Customer</label>
                    <select class="form-control" ng-model="punch.customer" ng-options="customer.Name for customer in customers" ng-change="refreshJobs()" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></select>
                </div>
                <div class="form-group">
                    <label>Job</label>
                    <select class="form-control" ng-model="punch.job" ng-options="job.Name for job in jobs" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></select>
                </div>
                <div class="form-group">
                    <label>Task</label>
                    <select class="form-control" ng-model="punch.task" ng-options="task.Name for task in tasks" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></select>
                </div>
            </div>
        </div>
        <hr />
        <label>In</label>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="punch.InAt" is-open="datepicker.InAt.opened" datepicker-options="datepicker.options" close-text="Close" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="showInAtDatepicker()" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div uib-timepicker ng-model="punch.InAt" show-meridian="true" show-spinners="false" show-seconds="false" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Time Zone</label>
            <select class="form-control" ng-model="punch.InAtTimeZone" ng-options="timezone.Id as timezone.Id for timezone in timezones" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></select>
        </div>
        <div ng-show="punch.Id != null">
            <p class="text-muted" style="margin: 0;"><strong>Hardware</strong> {{punch.InAtSourceHardware}} <span ng-if="punch.InAtSourceHardware != 'Phone'"><strong>Hostname</strong> {{punch.InAtSourceHostname}}</span></p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.InAtSourceHardware != 'Phone'"><strong>IP Address</strong> {{punch.InAtSourceIpAddress}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.InAtSourceHardware != 'Phone'"><strong>OS</strong> {{punch.InAtSourceOperatingSystem}} {{punch.InAtSourceOperatingSystemVersion}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.InAtSourceHardware == 'Web' || punch.InAtSourceHardware == 'Dashboard'"><strong>Browser</strong> {{punch.InAtSourceBrowser}} {{punch.InAtSourceBrowserVersion}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.InAtSourceHardware == 'Phone'"><strong>Phone</strong> {{punch.InAtSourcePhoneNumber}}</p>
        </div>
        <hr />
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="punch.has_out_at" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"> Has punch out?
            </label>
        </div>
        <label>Out</label>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="punch.OutAt" is-open="datepicker.OutAt.opened" datepicker-options="datepicker.options" close-text="Close" ng-disabled="working.save || !punch.has_out_at || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="showOutAtDatepicker()" ng-disabled="working.save || !punch.has_out_at || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div uib-timepicker ng-model="punch.OutAt" show-meridian="true" show-spinners="false" show-seconds="false" ng-disabled="working.save || !punch.has_out_at || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Time Zone</label>
            <select class="form-control" ng-model="punch.OutAtTimeZone" ng-options="timezone.Id as timezone.Id for timezone in timezones" ng-disabled="working.save || !punch.has_out_at || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users"></select>
        </div>
        <div ng-show="punch.Id != null && punch.OutAt != null">
            <p class="text-muted" style="margin: 0;"><strong>Hardware</strong> {{punch.OutAtSourceHardware}} <span ng-if="punch.OutAtSourceHardware != 'Phone'"><strong>Hostname</strong> {{punch.OutAtSourceHostname}}</span></p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.OutAtSourceHardware != 'Phone'"><strong>IP Address</strong> {{punch.OutAtSourceIpAddress}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.OutAtSourceHardware != 'Phone'"><strong>OS</strong> {{punch.OutAtSourceOperatingSystem}} {{punch.OutAtSourceOperatingSystemVersion}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.OutAtSourceHardware == 'Web' || punch.OutAtSourceHardware == 'Dashboard'"><strong>Browser</strong> {{punch.OutAtSourceBrowser}} {{punch.OutAtSourceBrowserVersion}}</p>
            <p class="text-muted" style="margin: 0;" ng-if="punch.OutAtSourceHardware == 'Phone'"><strong>Phone</strong> {{punch.OutAtSourcePhoneNumber}}</p>
        </div>
        <!-- <p><a href="" ng-click="showMap()">Show Map</a></p> -->
        <p class="text-danger" ng-show="punch.CommitId">
            This punch is not editable because it has been locked. You may reverse the lock, but first ensure that the punches have not been exported to payroll software.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="delete()" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users" ng-if="punch.Id">Delete</button>
        <button class="btn btn-primary" type="submit" ng-disabled="working.save || punch.CommitId || loading.customers || loading.jobs || loadings.tasks || loading.users">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="working.save">Cancel</button>
    </div>
</form>
