<div class="modal-header">
    <h3 class="modal-title" ng-if="task.Id == null">New Task</h3>
    <h3 class="modal-title" ng-if="task.Id != null">Edit Task</h3>
</div>
<form ng-submit="save()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Number</label>
                    <input type="text" class="form-control" ng-model="task.Number" ng-disabled="working.save" ui-number-mask ui-hide-group-sep />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="task.Name" ng-disabled="working.save" autofocus />
                </div>
                <div class="form-group">
                    <label>QuickBooks Payroll Item</label>
                    <input type="text" class="form-control" ng-model="task.QuickBooksPayrollItem" ng-disabled="working.save" />
                    <p class="help-block">Must match the Payroll Item in QuickBooks *exactly*</p>
                </div>
                <div class="form-group">
                    <label>QuickBooks Payroll Item</label>
                    <input type="text" class="form-control" ng-model="task.QuickBooksServiceItem" ng-disabled="working.save" />
                    <p class="help-block">Must match the Service Item in QuickBooks *exactly*</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="delete()" ng-disabled="working.save" ng-if="task.Id">Delete</button>
        <button class="btn btn-primary" type="submit" ng-disabled="working.save">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="working.save">Cancel</button>
    </div>
</form>
