<div class="modal-header">
    <h3 class="modal-title">Edit User</h3>
</div>
<div class="modal-body">
    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" ng-model="user.EmailAddress" disabled />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="user.Name" ng-disabled="working.save" autofocus />
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" ng-model="user.Role" ng-disabled="working.save">
                        <option>Administrator</option>
                        <option>Standard</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pin Number</label>
                    <input type="text" class="form-control" ng-model="user.Pin" ng-disabled="working.save" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="delete()" ng-disabled="working.save" ng-if="user.Id">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="working.save">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="working.save">Cancel</button>
</div>
