<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="BRIZBEE Logo" src="/images/logo-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/status">Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches">Punches</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs">Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/locations">Locations</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-phone"><a href="tel:1-276-633-4514">1-276-633-4514</a></p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
            <div class="panel panel-default panel-kiosk">
                <div class="panel-heading"><h2>What is your Task Number?</h2></div>
                <div class="panel-body">
                    <form ng-submit="searchTasks()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="task_number" placeholder="Task Number" ng-model="task.Number" ng-disabled="working.search" autocomplete="off" autofocus />
                        </div>
                        <button type="submit" class="btn btn-block btn-lg btn-primary" ng-disabled="working.search">Continue</button>
                        <a href="#!/status" class="btn btn-block btn-lg btn-default">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p class="text-right">
            <a href="https://www.brizbee.com/getting-started.html" style="margin-right: 5px;">Getting Started</a>
            <a href="https://www.brizbee.com/help.html" style="margin-right: 10px;">Help and Support</a>
            <span class="text-muted">&copy; 2017 East Coast Technology Services, LLC</span>
        </p>
    </div>
</footer>