<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="BRIZBEE Logo" src="/images/logo-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/status">Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches">Punches</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs">Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/locations">Locations</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-phone"><a href="tel:1-276-633-4514">1-276-633-4514</a></p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Organization Details</h1>

    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="organization.Name" ng-disabled="working.save" autofocus />
                </div>
                <div class="form-group">
                    <label>Organization Code (for login via Pin)</label>
                    <input type="text" class="form-control" ng-model="organization.Code" ng-disabled="working.save" />
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="working.save">Save Changes</button>
            </div>
        </div>
    </form>

    <h1>Billing Details</h1>

    <form id="payment-form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="card-element">
                        Current Card
                    </label>
                    <p>{{organization.StripeSourceCardBrand}} *{{organization.StripeSourceCardLast4}} expires {{organization.StripeSourceCardExpirationMonth}} &ndash; {{organization.StripeSourceCardExpirationYear}}</p>
                </div>
                <div class="form-group">
                    <label for="card-element">
                        Update Credit or Debit Card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
        
                <button class="btn btn-default">Save Changes</button>
            </div>
        </div>
    </form>
</div>
