<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/status">
                <img alt="BRIZBEE Logo" src="/images/icon-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/status">Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches">Punches</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs">Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/locations">Locations</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-phone">Punch In or Out @ <a href="tel:1-888-930-3044">1-888-930-3044</a></p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Account Details</h1>

    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" ng-model="user.EmailAddress" ng-disabled="working.save" />
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="user.Name" ng-disabled="working.save" autofocus />
                </div>
                <div class="form-group">
                    <label>Pin Number</label>
                    <input type="text" class="form-control" ng-model="user.Pin" ng-disabled="working.save" />
                    <p class="help-block">You must have a PIN number to login via PIN and Organization Code</p>
                </div>
                <hr />
                <p ng-show="!show.changePassword">
                    <a href="" ng-click="show.changePassword = true">Change Password</a>
                </p>
                <div ng-show="show.changePassword">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="user.Password" ng-disabled="working.save" />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="working.save">Save Changes</button>
            </div>
        </div>
    </form>
</div>