<div class="modal-header">
    <h3 class="modal-title">Populate Rates</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <uib-tabset>
            <uib-tab index="0" heading="Payroll Rates">
                <p style="margin-top: 1em;"><strong>Base Rates</strong></p style="margin-top: 1em;">
                <div class="alert alert-sm alert-warning" role="alert">These are the base rates for the punches you selected.</div>
                <table class="table table-bordered table-condensed table-supercondensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Task</th>
                            <th class="col-md-6">Base Payroll Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks">
                            <td>{{task.Number}} &ndash; {{task.Name}}</td>
                            <td>{{task.BasePayrollRate.Name}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <p><strong>Exceptions</strong></p>

                <table class="table table-bordered table-condensed table-supercondensed">
                    <thead>
                        <tr>
                            <th style="width: 6%;"></th>
                            <th style="width: 24%;">Option</th>
                            <th style="width: 20%;" colspan="2">Parameter</th>
                            <th style="width: 22%;">Match Base Rate</th>
                            <th style="width: 22%;">Set Alternate Rate</th>
                            <th style="width: 4%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exception in exceptions track by $index">
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="movePayrollExceptionUp($index)" title="Move Priority Up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                <a href="" ng-click="movePayrollExceptionDown($index)" title="Move Priority Down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-model="exception.option">
                                    <option>Punches Before</option>
                                    <option>Punches After</option>
                                    <option>After Hours/Minutes Per Day</option>
                                    <option>After Hours/Minutes in Range</option>
                                </select>
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Hours" ng-model="exception.hour">
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Minutes" ng-model="exception.minute">
                            </td>
                            <td colspan="2" ng-if="exception.option == 'Punches Before' || exception.option == 'Punches After'" class="text-center">
                                <div uib-timepicker ng-model="exception.time" show-spinners="false"></div>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.BasePayrollRate" ng-options="rate.Name for rate in basePayrollRates" ng-change="selectAlternateRate(exception)">
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.AlternatePayrollRate" ng-options="rate.Name for rate in alternatePayrollRates | filter:filterAlternateRates(exception.BasePayrollRate)">
                                </select>
                            </td>
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="removeException($index)" title="Remove Exception"><i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                <p><a href="" ng-click="addException()">Add Exception</a></p>
            </uib-tab>
            <uib-tab index="1" heading="Service Rates">
                <p style="margin-top: 1em;"><strong>Base Rates</strong></p>
                <table class="table table-bordered table-condensed table-supercondensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Task</th>
                            <th class="col-md-6">Base Service Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1000 - Consulting</td>
                            <td>Regular Hourly</td>
                        </tr>
                        <tr>
                            <td>1001 - Coding</td>
                            <td>Regular Hourly</td>
                        </tr>
                    </tbody>
                </table>
        
                <p><strong>Exceptions</strong></p>
        
                <p><a href="">Add Exception</a></p>
            </uib-tab>
        </uib-tabset>

        <p class="text-danger" style="margin-top: 2em;">NOTE: This operation is permanent. Populate rates cannot be reversed. However, you can run Populate Rates multiple times and old rates will be overwritten.</p style="margin-top: 1em;">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="working.save">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
