<div class="modal-header">
    <h3 class="modal-title">Populate Rates</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <p>
            This function will populate the Payroll and Customer Rates for the unlocked punches in the date range you have selected. Please note, only <strong>unlocked punches</strong> will be populated.
        </p>
        <uib-tabset class="tabset-rates">
            <uib-tab index="0" heading="Payroll Rates">
                <p style="margin-top: 1em;"><strong>Base Rates</strong></p style="margin-top: 1em;">
                <div class="alert alert-sm alert-info" role="alert">These are the base rates for the punches you selected. All of the punches in the date range will be populated with these rates unless specified otherwise below.</div>
                <table class="table table-bordered table-condensed table-supercondensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Task</th>
                            <th class="col-md-6">Base Payroll Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks">
                            <td>{{task.Number}} &ndash; {{task.Name}}</td>
                            <td>{{task.BasePayrollRate.Name}}</td>
                        </tr>
                        <tr ng-show="loading.basePayrollRates">
                            <td colspan="2"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                        </tr>
                        <tr ng-show="(tasks.length == 0) && (!loading.basePayrollRates)">
                            <td colspan="2">No Base Rates for the Punches</td>
                        </tr>
                    </tbody>
                </table>
                
                <p><strong>Exceptions</strong></p>

                <table class="table table-bordered table-condensed table-supercondensed table-exceptions">
                    <thead>
                        <tr>
                            <th style="width: 6%;"></th>
                            <th style="width: 24%;">Option</th>
                            <th style="width: 20%;" colspan="2">Parameter</th>
                            <th style="width: 22%;">Match Base Rate</th>
                            <th style="width: 22%;">Set Alternate Rate</th>
                            <th style="width: 4%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exception in payrollExceptions track by $index">
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="movePayrollExceptionUp($index)" title="Move Priority Up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                <a href="" ng-click="movePayrollExceptionDown($index)" title="Move Priority Down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-model="exception.option">
                                    <option>Punches Before</option>
                                    <option>Punches After</option>
                                    <option>After Hours/Minutes Per Day</option>
                                    <option>After Hours/Minutes in Range</option>
                                    <option>Punches on Specific Date</option>
                                </select>
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Hours" ng-model="exception.hour">
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Minutes" ng-model="exception.minute">
                            </td>
                            <td colspan="2" ng-if="exception.option == 'Punches Before' || exception.option == 'Punches After'" class="text-center">
                                <div uib-timepicker ng-model="exception.time" show-spinners="false"></div>
                            </td>
                            <td colspan="2" ng-if="exception.option == 'Punches on Specific Date'" class="text-center">
                                <p class="input-group input-group-sm">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="exception.date" is-open="datepicker[$index].opened" datepicker-options="datepicker[$index].options" close-text="Close" />
                                    <span class="input-group-btn input-group-btn-sm">
                                        <button type="button" class="btn btn-default" ng-click="datepicker[$index].opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.BasePayrollRate" ng-options="rate.Name for rate in basePayrollRates" ng-change="selectPayrollAlternateRate(exception)">
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.AlternatePayrollRate" ng-options="rate.Name for rate in alternatePayrollRates | filter:filterAlternateRates(exception.BasePayrollRate)">
                                </select>
                            </td>
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="removePayrollException($index)" title="Remove Exception"><i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr ng-show="payrollExceptions.length == 0">
                            <td colspan="7">None</td>
                        </tr>
                    </tbody>
                </table>
        
                <p><a href="" ng-click="addPayrollException()">Add Exception</a></p>

                <div class="alert alert-sm alert-info" role="alert"><strong>This operation is permanent and cannot be reversed.</strong> However, you can run Populate Rates multiple times and the rates will be overwritten.</div>
            </uib-tab>
            <uib-tab index="1" heading="Customer Rates">
                <p style="margin-top: 1em;"><strong>Base Rates</strong></p style="margin-top: 1em;">
                <div class="alert alert-sm alert-info" role="alert">These are the base rates for the punches you selected. All of the punches in the date range will be populated with these rates unless specified otherwise below.</div>
                <table class="table table-bordered table-condensed table-supercondensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Task</th>
                            <th class="col-md-6">Base Customer Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks">
                            <td>{{task.Number}} &ndash; {{task.Name}}</td>
                            <td>{{task.BaseServiceRate.Name}}</td>
                        </tr>
                        <tr ng-show="loading.baseServiceRates">
                            <td colspan="2"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                        </tr>
                        <tr ng-show="(tasks.length == 0) && (!loading.baseServiceRates)">
                            <td colspan="2">No Base Rates for the Punches</td>
                        </tr>
                    </tbody>
                </table>
                
                <p><strong>Exceptions</strong></p>

                <table class="table table-bordered table-condensed table-supercondensed table-exceptions">
                    <thead>
                        <tr>
                            <th style="width: 6%;"></th>
                            <th style="width: 24%;">Option</th>
                            <th style="width: 20%;" colspan="2">Parameter</th>
                            <th style="width: 22%;">Match Base Rate</th>
                            <th style="width: 22%;">Set Alternate Rate</th>
                            <th style="width: 4%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exception in serviceExceptions track by $index">
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="moveServiceExceptionUp($index)" title="Move Priority Up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                <a href="" ng-click="moveServiceExceptionDown($index)" title="Move Priority Down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-model="exception.option">
                                    <option>Punches Before</option>
                                    <option>Punches After</option>
                                    <option>After Hours/Minutes Per Day</option>
                                    <option>After Hours/Minutes in Range</option>
                                    <option>Punches on Specific Date</option>
                                </select>
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Hours" ng-model="exception.hour">
                            </td>
                            <td ng-if="exception.option == 'After Hours/Minutes Per Day' || exception.option == 'After Hours/Minutes in Range'" class="text-center">
                                <input type="text" class="form-control form-control-number input-sm" placeholder="Minutes" ng-model="exception.minute">
                            </td>
                            <td colspan="2" ng-if="exception.option == 'Punches Before' || exception.option == 'Punches After'" class="text-center">
                                <div uib-timepicker ng-model="exception.time" show-spinners="false"></div>
                            </td>
                            <td colspan="2" ng-if="exception.option == 'Punches on Specific Date'" class="text-center">
                                <p class="input-group input-group-sm">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="exception.date" is-open="datepicker[$index].opened" datepicker-options="datepicker[$index].options" close-text="Close" />
                                    <span class="input-group-btn input-group-btn-sm">
                                        <button type="button" class="btn btn-default" ng-click="datepicker[$index].opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.BaseServiceRate" ng-options="rate.Name for rate in baseServiceRates" ng-change="selectServiceAlternateRate(exception)">
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="form-control input-sm" ng-model="exception.AlternateServiceRate" ng-options="rate.Name for rate in alternateServiceRates | filter:filterAlternateRates(exception.BaseServiceRate)">
                                </select>
                            </td>
                            <td class="text-center" style="vertical-align: middle; font-size: 1.5em;">
                                <a href="" ng-click="removeServiceException($index)" title="Remove Exception"><i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr ng-show="serviceExceptions.length == 0">
                            <td colspan="7">None</td>
                        </tr>
                    </tbody>
                </table>
        
                <p><a href="" ng-click="addServiceException()">Add Exception</a></p>
                
        <div class="alert alert-sm alert-info" role="alert"><strong>This operation is permanent and cannot be reversed.</strong> However, you can run Populate Rates multiple times and the rates will be overwritten.</div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="working.ok">Perform Populate <i class="fa fa-spinner fa-spin fa-fw" ng-show="working.ok"></i></button>
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-disabled="working.ok">Cancel</button>
    </div>
</form>
