<div class="modal-header">
    <h3 class="modal-title" ng-show="type == 'punches'">Export Punches</h3>
    <h3 class="modal-title" ng-show="type == 'commit'">Export Committed Punches</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>
                    Click below to download the filtered punches:
                </p>
                <p>
                    <a ng-show="type == 'punches'" ng-href="{{baseUrl}}/api/Exports/Csv?InAt={{formatMomentFromDate(range.InAt, 'YYYY-MM-DDTHH:mm:ss')}}&OutAt={{formatMomentFromDate(range.OutAt, 'YYYY-MM-DDTHH:mm:ss')}}&Delimiter=,&AuthUserId={{auth.userId}}&AuthExpiration={{auth.expiration}}&AuthToken={{auth.token}}" class="btn btn-primary">
                        CSV File (Comma Separated Values)
                    </a>
                    <a ng-show="type == 'commit'" ng-href="{{baseUrl}}/api/Exports/Csv?CommitId={{commit_id}}&Delimiter=,&AuthUserId={{auth.userId}}&AuthExpiration={{auth.expiration}}&AuthToken={{auth.token}}" class="btn btn-primary">
                        CSV File (Comma Separated Values)
                    </a>
                    <br />
                    <small>
                        This file can be opened in Microsoft Excel, LibreOffice, Google Docs, Office 365, etc.
                    </small>
                </p>
                <p>
                    <a ng-href="#!/export-quickbooks-online" class="btn btn-primary" ng-click="ok()">
                        QuickBooks Online
                    </a>
                    <br />
                    <small>
                        You will be redirected to login to QuickBooks Online.
                    </small>
                </p>
                <p>
                    <button class="btn btn-primary" disabled>
                        QuickBooks Desktop
                    </button>
                    <br />
                    <small>
                        You must download and install our QuickBooks Export Utility on
                        the computer where you use QuickBooks to export punches and
                        timesheet entries into QuickBooks Desktop.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
    </div>
</form>
