<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="BRIZBEE Logo" src="/images/logo-32x32.png" style="height: 22px;">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="alert alert-info" ng-show="isConfirmed">Your account is now confirmed! Please sign in to continue.</div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default" ng-show="method == 'pin'">
                <div class="panel-heading">Login with Your PIN</div>
                <div class="panel-body">
                    <form ng-submit="loginWithPin()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Organization Code" ng-model="session.PinOrganizationCode" ng-disabled="working.login" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="PIN Number" ng-model="session.PinUserPin" ng-disabled="working.login" />
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.login">Sign In <i class="fa fa-spinner fa-spin fa-fw" ng-show="working.login"></i></button>
                    </form>
                </div>
            </div>
            
            <div class="panel panel-default" ng-show="method == 'email'">
                <div class="panel-heading">Login with Email Address</div>
                <div class="panel-body">
                    <form ng-submit="loginWithEmail()">
                        <div class="form-group">
                            <input type="email" class="form-control" id="session_email_address" placeholder="Email Address" ng-model="session.EmailAddress" ng-disabled="working.login" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="session.EmailPassword" ng-disabled="working.login" />
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.login">Sign In <i class="fa fa-spinner fa-spin fa-fw" ng-show="working.login"></i></button>
                        <a href="#!/reset" class="btn btn-default" ng-disabled="working.login">Reset Password</a>
                        <p class="text-danger" ng-show="alert.login">{{alert.login}}</p>
                    </form>
                </div>
            </div>

            <p class="text-right" ng-show="method == 'pin'" ng-click="showMethod('email')">Login with Email address instead.</p>
            <p class="text-right" ng-show="method == 'email'" ng-click="showMethod('pin')">Login with PIN Number instead.</p>
        </div>
        <div class="col-md-4">
            <p class="text-center" style="margin-top: 50px;">
                <img src="../images/logo.png" alt="Brizby Logo" style="width: 70%;" />
            </p>
            <p class="text-center" style="margin-top: 50px;">
                Don't have an account?
            </p>
            <p class="text-center" style="padding-bottom: 20px;">
                <a href="#!/register" class="btn btn-lg btn-primary" style="padding-left: 2em; padding-right: 2em;">Sign Up Now for FREE</a>
            </p>
        </div>
    </div>
    <footer>
        <hr />
        <p>&copy; 2018 East Coast Technology Services, LLC</p>
    </footer>
</div>
