<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="BRIZBEE Logo" src="/images/logo-32x32.png" style="height: 22px;">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="alert alert-info" ng-show="isConfirmed">Your account is now confirmed! Please sign in to continue.</div>

    <div class="row" style="margin-top: 7%; margin-bottom: 7%;">
        <div class="col-md-4 col-md-offset-4">
            <p class="text-center" style="margin-bottom: 20%;">
                <img src="../images/logo.png" alt="Brizby Logo" style="width: 70%;" />
            </p>
            
            <div class="panel panel-default panel-login" ng-show="method == 'pin'">
                <div class="panel-heading">Login with Your PIN</div>
                <div class="panel-body">
                    <form name="pinForm" ng-submit="loginWithPin()" novalidate>
                        <div class="form-group">
                            <input type="text" name="session_pin_organization_code" class="form-control" id="session_pin_organization_code" placeholder="Organization Code" ng-model="session.PinOrganizationCode" required ng-disabled="working.login"/>
                            <p ng-show="pinForm.session_pin_organization_code.$invalid && pinForm.session_pin_organization_code.$submitted" class="text-danger">Your organization's code is required.</p>
                        </div>
                        <div class="form-group">
                            <input type="password" name="session_pin_user_pin" class="form-control" placeholder="PIN Number" ng-model="session.PinUserPin" required ng-disabled="working.login"/>
                            <p ng-show="pinForm.session_pin_user_pin.$invalid && pinForm.session_pin_user_pin.$submitted" class="text-danger">Your pin number is required.</p>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.login || pinForm.$invalid">Login <i class="fa fa-spinner fa-spin fa-fw" ng-show="working.login"></i></button>
                    </form>
                </div>
            </div>
            
            <div class="panel panel-default panel-login" ng-show="method == 'email'">
                <div class="panel-heading">Login with Email Address</div>
                <div class="panel-body">
                    <form name="emailForm" ng-submit="loginWithEmail()" novalidate>
                        <div class="form-group">
                            <input name="session_email_address" type="email" class="form-control" id="session_email_address" placeholder="Email Address" ng-model="session.EmailAddress" required ng-disabled="working.login"/>
                            <p ng-show="emailForm.session_email_address.$invalid && emailForm.session_email_address.$submitted" class="text-danger">Your Email address is required.</p>
                        </div>
                        <div class="form-group">
                            <input name="session_email_password" type="password" class="form-control" placeholder="Password" ng-model="session.EmailPassword" required ng-disabled="working.login"/>
                            <p ng-show="emailForm.session_email_password.$invalid && emailForm.session_email_password.$submitted" class="text-danger">Your password is required.</p>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.login || emailForm.$invalid">Login <i class="fa fa-spinner fa-spin fa-fw" ng-show="working.login"></i></button>
                        <a href="#!/reset" class="btn btn-default" ng-disabled="working.login">Reset Password</a>
                        <p class="text-danger" ng-show="alert.login">{{alert.login}}</p>
                    </form>
                </div>
            </div>

            <p class="text-right" ng-show="method == 'pin'"><a href="" ng-click="showMethod('email')">Login with Email address Instead</a></p>
            <p class="text-right" ng-show="method == 'email'"><a href="" ng-click="showMethod('pin')">Login with PIN Number Instead</a></p>

            <p class="text-center" style="margin-top: 50px;">
                Don't have an account?
            </p>
            <p class="text-center" style="padding-bottom: 20px;">
                <a href="#!/register" class="btn btn-lg btn-primary" style="padding-left: 2em; padding-right: 2em;">Start Tracking Time for FREE</a>
                <br />
                <small>No Credit Card Required.<br />Cancel Anytime.<br />Call us for questions and comments.</small>
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p class="text-right">
            <a href="https://www.brizbee.com/download.html" style="margin-right: 5px;">Download QuickBooks Connector</a>
            <a href="https://www.brizbee.com/getting-started.html" style="margin-right: 5px;">Getting Started</a>
            <a href="https://www.brizbee.com/help.html" style="margin-right: 10px;">Help and Support</a>
            <a href="https://www.brizbee.com/privacy.html" style="margin-right: 10px;">Privacy Policy</a>
            <a href="https://www.brizbee.com/terms.html" style="margin-right: 10px;">Terms and Conditions</a>
            <span class="text-muted">&copy; 2017 East Coast Technology Services, LLC. All rights reserved.</span>
        </p>
    </div>
</footer>