<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/status">
                <img alt="BRIZBEE Logo" src="/images/icon-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/status"><i class="fa fa-id-badge" aria-hidden="true"></i> Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches"><i class="fa fa-clock-o" aria-hidden="true"></i> Time</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs"><i class="fa fa-truck" aria-hidden="true"></i> Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/reports"><i class="fa fa-line-chart" aria-hidden="true"></i> Reports</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li ng-show="current.user.Role == 'Administrator'"><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h4>Export to QuickBooks Online</h4>
    
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            {{step.title}}
                        </div>
                        <div class="col-md-3 text-right">
                            Step {{step.number}} of 5
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding: 35px;">
                    <!-- Step - Welcome -->
                    <div ng-show="step.name == 'welcome'">
                        <form class="text-right col-md-8 col-md-offset-2"
                            action="{{trustedAction()}}"
                            method="POST">
                            <button type="submit" style="width: 100%; border: none; background-color: transparent;">
                                <img src="/images/C2QB_white_btn_lg_default.png" class="img-responsive" alt="Connect to QuickBooks" />
                            </button>
                        </form>
                    </div>
                    <!-- Step - Company -->
                    <div ng-show="step.name == 'company'">
                        <div class="text-center text-muted" style="margin-top: 30px; margin-bottom: 30px; font-size: 30px;">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <!-- Step - Confirm -->
                    <div ng-show="step.name == 'confirm'">

                        <p style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">Please select the commit for the punches you want to export:</p style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">

                        <select class="form-control" ng-model="selected.commit" ng-options="commit as (commit | commitName) for commit in commits"></select>

                        <hr />

                        <p style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">
                            You are about to export <strong>{{selected.commit.PunchCount}}</strong> punches from
                            <strong>{{formatMomentFromDate(selected.commit.InAt, 'YYYY-MM-DD')}}</strong>
                            thru <strong>{{formatMomentFromDate(selected.commit.OutAt, 'YYYY-MM-DD')}}</strong> to the company
                            <strong>{{details.CompanyName}}</strong> at QuickBooks Online.
                        </p>

                        <p style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">Are you sure you want to do this?</p style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">
                        <div class="text-right">
                            <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="working.export">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="working.export">Confirm</button>
                        </div>
                    </div>
                    <!-- Step - Status -->
                    <div ng-show="step.name == 'status'">
                        <p class="text-center" style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">Your punches are being exported to QuickBooks Online...</p>
                        <div class="text-center text-muted" style="margin-top: 1em; margin-bottom: 1em; font-size: 1em;">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <!-- Step - Errors -->
                    <div ng-show="step.name == 'errors'">
                        <p class="text-center" style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">Export Failed</p>
                        <p>{{errors}}</p>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary" ng-click="tryAgain()">Try Again</button>
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                    <!-- Step - Finished -->
                    <div ng-show="step.name == 'finished'">
                        <p class="text-center" style="margin-top: 1em; margin-bottom: 1em; font-size: 1.25em;">Your punches have been successfully exported to QuickBooks Online.</p>
                        <div class="text-right">
                            <a ng-href="#!/punches" class="btn btn-primary">Finish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
