<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change Date Range Filter</h3>
</div>
<div class="modal-body" id="modal-body">
    <form ng-submit="save()">
        <div class="row">
            <div class="col-md-7">
                <label>From</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="range.InAt" is-open="datepicker.InAt.opened" datepicker-options="datepicker.options" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="showInAtDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <label>To</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="range.OutAt" is-open="datepicker.OutAt.opened" datepicker-options="datepicker.options" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="showOutAtDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
