<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/status">
                <img alt="BRIZBEE Logo" src="/images/icon-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/status"><i class="fa fa-id-badge" aria-hidden="true"></i> Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'" class="active"><a href="#!/punches"><i class="fa fa-clock-o" aria-hidden="true"></i> Time <span class="sr-only">(current)</span></a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs"><i class="fa fa-truck" aria-hidden="true"></i> Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/reports"><i class="fa fa-line-chart" aria-hidden="true"></i> Reports</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li ng-show="current.user.Role == 'Administrator'"><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="#!/punches">Punches</a></li>
        <li role="presentation"><a href="#!/timesheets">Time Cards</a></li>
        <li role="presentation"><a href="#!/commits">Locks</a></li>
        <li role="presentation"><a href="#!/qbd-exports">Export History</a></li>
        <li role="presentation" class="active"><a href="#!/rates">Rates</a></li>
    </ul>

    <hr />

    <!--Toolbar-->
    <div class="row row-toolbar">
        <div class="col-md-6">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="showNewRate()"><i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;"></i> New Rate</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="refreshRates()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!--List of Rates-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Base</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rate in rates" class="selectable" ng-click="showEditRate(rate)">
                <td><a href="">{{rate.Name}}</a></td>
                <td>
                    <span ng-if="rate.Type == 'Payroll'"><i class="fa fa-money" aria-hidden="true" style="margin-right: 5px;"></i> Payroll</span>
                    <span ng-if="rate.Type == 'Service'"><i class="fa fa-handshake-o" aria-hidden="true" style="margin-right: 5px;"></i> Customer</span>
                </td>
                <td><span ng-if="rate.ParentRateId">{{rate.ParentRate.Name}}</span></td>
            </tr>
            <tr ng-show="loading.rates">
                <td colspan="3"><i class="fa fa-spinner fa-spin fa-fw"></i></td>
            </tr>
            <tr ng-show="(rates.length == 0) && (!loading.rates)">
                <td colspan="3">You haven't added any rates.</td>
            </tr>
        </tbody>
    </table>
            
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-sm btn-default" ng-click="ratesPrevious()" ng-show="ratesCount > 20"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-default" ng-click="ratesNext()" ng-show="ratesCount > 20"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-6 text-right">
            <p class="form-control-static" ng-hide="((rates.length == 0) && (!loading.rates)) || loading.rates">{{ratesStart()}} to {{ratesEnd()}} of {{ratesCount}}</p>
        </div>
    </div>
</div>