<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="BRIZBEE Logo" src="/images/logo.png" style="height: 20px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.brizbee.com/why.html">Why BRIZBEE?</a></li>
                <li><a href="https://www.brizbee.com/clocks.html">Time Clock Options</a></li>
                <li><a href="https://www.brizbee.com/quickbooks.html">QuickBooks Integration</a></li>
                <li><a href="https://www.brizbee.com/pricing.html">Pricing</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://app.brizbee.com/">Sign In</a></li>
                <li class="text-highlight"><a href="https://app.brizbee.com/#!/register">TRY IT FREE <i class="fa fa-arrow-circle-o-right" style="color: #edb500;" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-bottom: 5px;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            {{step.title}}
                        </div>
                        <div class="col-md-3 text-right">
                            Step {{step.number}} of 3
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding: 35px;">
                    <!-- Step - Welcome -->
                    <div ng-show="step.name == 'welcome'">
                        <p class="text-center" style="margin-top: 30px;">
                            <img src="/images/logo.png" alt="BRIZBEE Logo" style="width: 30%;">
                        </p>
                        <h3 class="text-center" style="margin-top: 30px; line-height: 34px;">Let's get going with BRIZBEE!</h3>
                        <div class="text-center text-muted" style="margin-top: 30px; margin-bottom: 30px; font-size: 30px;">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                    </div>

                    <!-- Step - Register -->
                    <form name="registerForm" ng-submit="register()" ng-show="step.name == 'register'" class="fadeIn" autocomplete="off" novalidate>
                        <div class="form-group">
                            <label>Plan</label>
                            <select class="form-control" ng-model="organization.PlanId" ng-disabled="working.register">
                                <option value="1">Contractor - Up to 3 Users</option>
                                <option value="2">Micro Business - Up to 10 Users</option>
                                <option value="3">Small Business - Up to 20 Users</option>
                                <option value="4">Midsize Business - Up to 50 Users</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="user_email_address" class="form-control" id="user_email_address" ng-model="user.EmailAddress" ng-disabled="working.register" required />
                            <p ng-show="registerForm.user_email_address.$invalid && registerForm.user_email_address.$submitted" class="text-danger">Your Email address is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" name="user_name" class="form-control" ng-model="user.Name" ng-disabled="working.register" required />
                            <p ng-show="registerForm.user_name.$invalid && registerForm.user_name.$submitted" class="text-danger">Your name is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Your Company Name</label>
                            <input type="text" name="user_organization_name" class="form-control" ng-model="organization.Name" ng-disabled="working.register" required />
                            <p class="help-block">Ex. Martin Corporation, Bill's Auto Shop, First Baptist Church.</p>
                            <p ng-show="registerForm.user_organization_name.$invalid && registerForm.user_organization_name.$submitted" class="text-danger">You must provide the name of your company or organization.</p>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="user_password" class="form-control" ng-model="user.Password" ng-disabled="working.register" required ng-minlength="8" />
                            <p class="help-block">Must be 8+ characters and include both numbers and letters.</p>
                            <p ng-show="registerForm.user_password.$invalid && registerForm.user_password.$submitted" class="text-danger">A valid password is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Your Country</label>
                            <select class="form-control" ng-model="selected.CountryCode" ng-options="country.CountryCode as country.Name for country in countries" ng-disabled="working.register"></select>
                        </div>
                        <div class="form-group">
                            <label>City in Your Time Zone</label>
                            <select class="form-control" ng-model="user.TimeZone" ng-options="timezone.Id for timezone in filteredTimeZones" ng-disabled="working.register"></select>
                            <p class="help-block">
                                Your punches will default to this time zone unless you specify otherwise.
                            </p>
                        </div>
                        <div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
                            <button type="submit" class="btn btn-primary" ng-disabled="working.register || registerForm.$invalid">Start Tracking Time <i class="fa fa-arrow-circle-o-right" aria-hidden="true" ng-hide="working.register"></i><i class="fa fa-spinner fa-spin fa-fw" ng-show="working.register"></i></button>
                            <p style="margin-top: 10px;" class="text-danger" ng-show="messages.error">{{messages.error}}</p>
                        </div>
                        <p class="text-center text-muted">No credit card required. Cancel anytime.</p>
                    </form>

                    <!-- Step - Pin -->
                    <form name="pinForm" ng-submit="savePin()" ng-show="step.name == 'pin'" class="fadeIn" autocomplete="off" novalidate>
                        <p style="padding-bottom: 20px;">Now, we just need to set your <strong>Organization Code</strong> and <strong>User PIN</strong> so that you can easily punch in and out on the Web, mobile app, or BRIZBEE hotline.</p>
                        <div class="form-group">
                            <label>Your Organization's Code</label>
                            <input type="text" id="organization_code" name="organization_code" class="form-control form-control-number" style="width: 50%;" ng-model="organization.Code" minlength="4" maxlength="9" ng-disabled="working.pin" required />
                            <p class="help-block">This 4+ digit code is public and shared throughout your organization.</p>
                        </div>
                        <div class="form-group">
                            <label>Your PIN Number</label>
                            <input type="text" name="user_pin" class="form-control form-control-number" style="width: 50%;" ng-model="user.Pin" minlength="4" maxlength="9" ng-disabled="working.pin" required />
                            <p class="help-block">This 4+ digit code is private and unique to each employee.</p>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.pin || pinForm.$invalid">Save and Continue<i class="fa fa-spinner fa-spin fa-fw" ng-show="working.pin"></i></button>
                    </form>

                    <div class="fadeIn" ng-show="step.name == 'users'">
                        <p>Finally, let's add your employees. You can always add more later if you don't want to do this right now.</p>
                        
                        <ul class="list-unstyled fadeIn" style="padding-top: 10px;" ng-show="new.users.length > 0">
                            <li style="margin-top: 5px; margin-bottom: 5px; font-weight: bold;">Saved Employees</li>
                            <li ng-repeat="user in new.users" class="fadeIn" style="margin-top: 5px; margin-bottom: 5px;">
                                <i class="fa fa-check text-success" style="padding-right: 5px;"></i>
                                {{user.Name}} <span ng-show="user.EmailAddress">&ndash; {{user.EmailAddress}}</span> &ndash; {{user.Pin}}
                            </li>
                        </ul>

                        <hr />

                        <form name="userForm" ng-submit="saveUser()" style="margin-bottom: 30px;" autocomplete="off" novalidate>
                            <div class="form-group">
                                <label>Employee Name</label>
                                <input type="text" id="new_user_name" name="new_user_name" class="form-control" ng-model="new.user.Name" ng-disabled="working.user" required />
                            </div>
                            <div class="form-group">
                                <label>Email Address (optional)</label>
                                <input type="email" name="new_user_email_address" class="form-control" ng-model="new.user.EmailAddress" ng-disabled="working.user" />
                            </div>
                            <div class="form-group">
                                <label>PIN Number</label>
                                <input type="text" name="new_user_pin" class="form-control form-control-number" style="width: 20%;" ng-model="new.user.Pin" minlength="4" maxlength="9" ng-disabled="working.user" required />
                                <p class="help-block">This 4+ digit code is private and unique to each employee.</p>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;" ng-disabled="working.user || userForm.$invalid">Add Employee<i class="fa fa-spinner fa-spin fa-fw" ng-show="working.user"></i></button>
                            <a href="#!/jobs" class="btn btn-primary">Continue to BRIZBEE</a>
                        </form>
                    </div>
                </div>
            </div>
            <p class="text-muted" style="margin-top: 10px;">Need help? Email us at <a href="mailto:sales@brizbee.com">sales@brizbee.com</a> and we'll help you get started.</p>
        </div>
    </div>
</div>