<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <p class="text-center" style="margin-top: 50px;">
                <img src="../images/logo.png" alt="Brizby Logo" style="width: 70%;" />
            </p>
            <h3>Getting Started is Easy!</h3>
            <ol class="getting-started">
                <li>Start Your 30 Day Free Trial</li>
                <li>Add Employee Accounts</li>
                <li>Start Punching In and Out</li>
                <li>Commit Your Time Records and Export (optional)</li>
            </ol>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sign Up for BRIZBEE</div>
                <div class="panel-body">
                    <form ng-submit="register()" ng-show="show.success == false">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" id="user_email_address" ng-model="user.EmailAddress" ng-disabled="working.register" required />
                        </div>
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" class="form-control" ng-model="user.Name" ng-disabled="working.register" required />
                        </div>
                        <div class="form-group">
                            <label>Your Company Name</label>
                            <input type="text" class="form-control" ng-model="organization.Name" ng-disabled="working.register" required />
                            <p class="help-block">Ex. Martin Corporation, Bill's Auto Shop, First Baptist Church.</p>
                        </div>
                        <!-- <div class="form-group">
                            <label>Number</label>
                            <input type="text" class="form-control" placeholder="Company Code" ng-model="organization.Code" ng-disabled="working.register" />
                        </div> -->
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" ng-model="user.Password" ng-disabled="working.register" required ng-minlength="8" />
                            <p class="help-block">Must be 8+ characters and include both numbers and letters.</p>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="working.register">Save and Start Tracking Time <i class="fa fa-arrow-circle-o-right" aria-hidden="true" ng-hide="working.register"></i><i class="fa fa-spinner fa-spin fa-fw" ng-show="working.register"></i></button>
                    </form>

                    <p class="text-center" ng-show="show.success == true">
                        Thank you for signing up! Please check your
                        Email to confirm your account and you'll be ready!
                        <br />
                        <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 300%;"></i>                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr />
        <p class="text-right">
            <a href="https://www.brizbee.com/getting-started.html" style="margin-right: 5px;">Getting Started</a>
            <a href="https://www.brizbee.com/help.html" style="margin-right: 10px;">Help and Support</a>
            <span class="text-muted">&copy; 2017 East Coast Technology Services, LLC</span>
        </p>
    </footer>
</div>
