<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/status">
                <img alt="BRIZBEE Logo" src="/images/icon-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/status">Status</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches">Punches</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs">Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'" class="active"><a href="#!/reports">Reports <span class="sr-only">(current)</span></a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-phone">Punch In or Out @ <a href="tel:1-888-930-3044">1-888-930-3044</a></p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li ng-show="current.user.Role == 'Administrator'"><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#!/status">Status</a></li>
        <li class="active">Reports</li>
    </ol>
    
    <div class="row">
        <div class="col-md-7">
            <ul class="list-unstyled">
                <li>
                    <div class="panel panel-default panel-condensed">
                        <div class="panel-body">
                            <table class="table table-report">
                                <tr>
                                    <td class="col-md-1">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    </td>
                                    <td class="col-md-11">
                                        <a ng-href="{{baseUrl}}/api/Reports/PunchesByUser?Min={{formatMomentFromDate(range.InAt, 'YYYY-MM-DDTHH:mm:ss')}}&Max={{formatMomentFromDate(range.OutAt, 'YYYY-MM-DDTHH:mm:ss')}}&JobScope={{include.jobs.scope}}{{includedJobIds()}}&UserScope={{include.users.scope}}{{includedUserIds()}}&CommitStatus={{include.committed}}&AuthUserId={{auth.userId}}&AuthExpiration={{auth.expiration}}&AuthToken={{auth.token}}">
                                            <h4>
                                                Punches by User
                                            </h4>
                                            <p><small>Lists the punches by user for each day in the range.</small></p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default panel-condensed">
                        <div class="panel-body">
                            <table class="table table-report">
                                <tr>
                                    <td class="col-md-1">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    </td>
                                    <td class="col-md-11">
                                        <a ng-href="{{baseUrl}}/api/Reports/PunchesByJob?Min={{formatMomentFromDate(range.InAt, 'YYYY-MM-DDTHH:mm:ss')}}&Max={{formatMomentFromDate(range.OutAt, 'YYYY-MM-DDTHH:mm:ss')}}&JobScope={{include.jobs.scope}}{{includedJobIds()}}&UserScope={{include.users.scope}}{{includedUserIds()}}&CommitStatus={{include.committed}}&AuthUserId={{auth.userId}}&AuthExpiration={{auth.expiration}}&AuthToken={{auth.token}}">
                                            <h4>
                                                Punches by Job and Task
                                            </h4>
                                            <p><small>Lists the punches by job and task for each day in the range.</small></p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default panel-condensed">
                        <div class="panel-body">
                            <table class="table table-report">
                                <tr>
                                    <td class="col-md-1">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    </td>
                                    <td class="col-md-11">
                                        <a ng-href="{{baseUrl}}/api/Reports/PunchesByDay?Min={{formatMomentFromDate(range.InAt, 'YYYY-MM-DDTHH:mm:ss')}}&Max={{formatMomentFromDate(range.OutAt, 'YYYY-MM-DDTHH:mm:ss')}}&JobScope={{include.jobs.scope}}{{includedJobIds()}}&UserScope={{include.users.scope}}{{includedUserIds()}}&CommitStatus={{include.committed}}&AuthUserId={{auth.userId}}&AuthExpiration={{auth.expiration}}&AuthToken={{auth.token}}">
                                            <h4>
                                                Punches by Day
                                            </h4>
                                            <p><small>Lists the punches by day for each day in the range.</small></p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default panel-condensed" style="margin-top: 5%;">
                        <div class="panel-body">
                            <table class="table table-report">
                                <tr>
                                    <td class="col-md-1">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </td>
                                    <td class="col-md-11">
                                        <h4>
                                            Need a custom report?
                                        </h4>
                                        <p><small>We would be happy to build a custom report for your specific business needs. Please reach out to our support team at <a href="mailto:support@brizbee.com">support@brizbee.com</a></small></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Report Filters and Options</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>From</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="range.InAt" is-open="datepicker.in_at.opened" datepicker-options="datepicker.options" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="showInAtDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label>To</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="range.OutAt" is-open="datepicker.out_at.opened" datepicker-options="datepicker.options" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="showOutAtDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Users</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="include.users.scope" value="all" />
                                    Include All Users
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="include.users.scope" value="specific" />
                                    Include Specific Users
                                </label>
                            </div>
                            <div style="padding-left: 20px" ng-show="include.users.scope == 'specific'">
                                <input type="text" class="form-control" ng-model="include.users.search" placeholder="Search and Add a User" ng-change="searchUsers()" ng-show="include.users.scope == 'specific'" />
                                <p style="margin-top: 10px; margin-bottom: 0;" ng-show="include.users.results.length > 0"><strong>Search Results</strong></p>
                                <ul class="list-unstyled" style="margin-top: 5px; margin-bottom: 5px;">
                                    <li ng-repeat="user in include.users.results">{{user.Name}} - {{user.EmailAddress}} <a href="" ng-click="addUser(user)">Add</a></li>
                                </ul>
                                <p style="margin-top: 10px; margin-bottom: 0;" ng-show="include.users.list.length > 0"><strong>Selected Users</strong></p>
                                <ul class="list-unstyled" style="margin-top: 5px; margin-bottom: 5px;">
                                    <li ng-repeat="user in include.users.list">{{user.Name}} - {{user.EmailAddress}} <a href="" ng-click="removeUser(user)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Jobs</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="include.jobs.scope" value="all" />
                                    Include All Jobs
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="include.jobs.scope" value="specific" />
                                    Include Specific Jobs
                                </label>
                            </div>
                            <div style="padding-left: 20px" ng-show="include.jobs.scope == 'specific'">
                                <input type="text" class="form-control" ng-model="include.jobs.search" placeholder="Search and Add a Job" ng-change="searchJobs()" ng-show="include.jobs.scope == 'specific'" />
                                <p style="margin-top: 10px; margin-bottom: 0;" ng-show="include.jobs.results.length > 0"><strong>Search Results</strong></p>
                                <ul class="list-unstyled" style="margin-top: 5px; margin-bottom: 5px;">
                                    <li ng-repeat="job in include.jobs.results">{{job.Number}} - {{job.Name}} <a href="" ng-click="addJob(job)">Add</a></li>
                                </ul>
                                <p style="margin-top: 10px; margin-bottom: 0;" ng-show="include.jobs.list.length > 0"><strong>Selected Jobs</strong></p>
                                <ul class="list-unstyled" style="margin-top: 5px; margin-bottom: 5px;">
                                    <li ng-repeat="job in include.jobs.list">{{job.Number}} - {{job.Name}} <a href="" ng-click="removeJob(job)">Remove</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Commit Status</label>
                            <select ng-model="include.committed" class="form-control">
                                <option value="only">Only Committed Punches</option>
                                <option value="uncommitted">Only Uncommitted Punches</option>
                                <option value="all">Both Committed and Uncommitted Punches</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>