<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/status">
                <img alt="BRIZBEE Logo" src="/images/icon-32x32.png" style="height: 22px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/status"><i class="fa fa-id-badge" aria-hidden="true"></i> Status <span class="sr-only">(current)</span></a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/punches"><i class="fa fa-clock-o" aria-hidden="true"></i> Time</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/jobs"><i class="fa fa-truck" aria-hidden="true"></i> Jobs and Customers</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/reports"><i class="fa fa-line-chart" aria-hidden="true"></i> Reports</a></li>
                <li ng-show="current.user.Role == 'Administrator'"><a href="#!/users"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current.user.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/my/user">Account Details</a></li>
                        <li ng-show="current.user.Role == 'Administrator'"><a href="#!/my/organization">Organization Details</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
            <div class="panel panel-default panel-kiosk">
                <div class="panel-heading"><h2>Hello, {{current.user.Name}}</h2></div>
                <div class="panel-body">
                    <div class="text-center" ng-show="working.status">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>

                    <div ng-show="!working.status">
                        <div ng-show="current.punch">
                            <p class="text-center" style="text-transform: uppercase;">You are <span class="label label-success"><strong>PUNCHED IN</strong></span></p>
                            <p class="text-center" style="text-transform: uppercase;"><small>on job</small><br /><strong>{{current.punch.Task.Job.Number}} &ndash; {{current.punch.Task.Job.Name}}</strong></p>
                            <p class="text-center" style="text-transform: uppercase;"><small>for customer</small><br /><strong>{{current.punch.Task.Job.Customer.Number}} &ndash; {{current.punch.Task.Job.Customer.Name}}</strong></p>
                            <p class="text-center" style="text-transform: uppercase;"><small>doing task</small><br /><strong>{{current.punch.Task.Number}} &ndash; {{current.punch.Task.Name}}</strong></p>
                            <p class="text-center" style="text-transform: uppercase;"><small>since {{formatMomentFromDate(current.punch.InAt, 'MMM D, YYYY h:mm a')}}<br />{{current.punch.InAtTimeZone}}</small></p>
                        </div>
                        <div ng-show="!current.punch">
                            <p class="text-center" style="text-transform: uppercase;">You are <span class="label label-danger"><strong>PUNCHED OUT</strong></span></p>
                        </div>
                        <table class="table table-noborder">
                            <tbody>
                                <tr>
                                    <td><a href="#!/in/task" class="btn btn-block btn-lg btn-success">Punch In</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#!/timesheets/add" class="btn btn-block btn-lg btn-default">Timesheet Entry</a></td>
                                </tr>
                                <tr ng-show="current.punch">
                                    <td><a href="#!/out/confirm" class="btn btn-block btn-lg btn-danger">Punch Out</a></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-block btn-lg btn-default" ng-click="logout()">Logout</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>